{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h2>Login</h2>
<form method="post">
    {% if request.args.get('next') %}
        <input type="hidden" name="next" value="{{ request.args.get('next') }}">
    {% endif %}
    <label>Username</label>
    <input type="text" name="username" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <button type="submit">Login</button>
    <p>New user? <a href="{{ url_for('signup') }}">Sign up</a></p>
</form>
{% endblock %}
